{% extends 'base.html' %}

{% block title %}
Listagem de serviços
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de serviços</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor mínimo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for servico in servicos %}
                    <tr>
                        <td>{{servico.nome}}</td>
                        <td>{{servico.valor_minimo}}</td>
                        <td>
                            <a href="{% url 'editar_servico' servico.id %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<a href="{% url 'cadastrar_servico' %}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}