{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}
{% block logo %}
<div class="login-logo">
    <a>{% block logo_text %}<b>e</b>diaristas{% endblock logo_text %}</a>
</div>

{% endblock logo %}
{% block login_form %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">
                Resetar senha
        </div>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock login_form %}